extends layout

block content
  h1= title
  p #{data.introQuote}
  p -#{title}
  p #{data.description}
  img(border="0" src="#{data.picture}") 
  table 
    thead 
    tbody 
      each stat in data.stats
        tr 
          p #{stat[0]} | #{stat[1]}
  p #{data.randomQuote}

